<div class=" p-0 border-0 ">

  <div class="sidebar">
      <div class="sidebar-item">
        <ul class="list-group border-1 "style="border: 1px solid #ae00ff ;">
          <li class="list-group-item text-center bg-black text-white border-1 mirror-effect text-900  img-thumbnail" style="border: 1px solid #ae00ff ;font-size: xx-large; ">Categories</li>
<!-- add for loop here with category and delete another li ] -->
          <li class="list-group-item text-white bg-black text-center img-thumbnail border-1 mirror-effect " style="border: 1px solid #ae00ff ;"><a class="nav-link text-bo" href="#">category name</a></li>
          <li class="list-group-item text-white bg-black text-center img-thumbnail border-1 mirror-effect " style="border: 1px solid #ae00ff ;"><a class="nav-link text-bo" href="#">category name</a></li>
          <li class="list-group-item text-white bg-black text-center img-thumbnail border-1 mirror-effect " style="border: 1px solid #ae00ff ;"><a class="nav-link text-bo" href="#">category name</a></li>
          <li class="list-group-item text-white bg-black text-center img-thumbnail border-1 mirror-effect " style="border: 1px solid #ae00ff ;"><a class="nav-link text-bo" href="#">category name</a></li>
          <li class="list-group-item text-white bg-black text-center img-thumbnail border-1 mirror-effect " style="border: 1px solid #ae00ff ;"><a class="nav-link text-bo" href="#">category name</a></li>
          <li class="list-group-item text-white bg-black text-center img-thumbnail border-1 mirror-effect " style="border: 1px solid #ae00ff ;"><a class="nav-link text-bo" href="#">category name</a></li>
          <li class="list-group-item text-white bg-black text-center img-thumbnail border-1 mirror-effect " style="border: 1px solid #ae00ff ;"><a class="nav-link text-bo" href="#9">category name</a></li>

          </ul>
      </div>


  </div>

<div class="col-lg-10 col-md-8 text-center">
</div>
</div>
