<div class=" p-0  " style="min-height: 90vh;">

  <div class="sidebar  w-28rem">
      <div class="sidebar-item">
        <li class="list-group-item text-center bg-black text-white border-1 mirror-effect text-900  img-thumbnail"
        style="border: 1px solid #ae00ff ;font-size: xx-large; ">Categories</li>
<ul *ngFor="let category of categories" class="list-group border-1  " style="border: 1px solid #ae00ff ;">
<!-- add for loop here with category and delete another li ] -->
          <li class="list-group-item text-white bg-black text-center img-thumbnail border-1 mirror-effect "
          style="border: 1px solid #ae00ff ;"><a class="nav-link text-bo" (click)="redirectToProducts(category.id)">{{ category.name }}</a></li>
          </ul>
      </div>


  </div>


</div>
