<div style=" height :50px"></div>
<div class=" p-4 shadow-2 border-round w-full lg:w-7 mx-auto  " id="box">
  <div class="text-center ">
    <img src="../../../favicon.ico" alt="Image" height="50" class="p-3">
    <div class="text-900 text-3xl font-medium p-3 text-white">Welcome</div>
  </div>
  <form>
    <div class="row">
      <div class="col-6">
        <label for="email1" class="block text-900 font-medium p-2 text-white">Email</label>
        <input type="text" id="email1" placeholder="Email" class="w-full p-3 form control border-round">

        <label for="" class="block text-900 font-medium p-2 text-white">User Name</label>
        <input type="text" id="" placeholder="User Name" class="w-full p-3 form control border-round">

        <label for="" class="block text-900 font-medium p-2 text-white">User Name</label>
        <input type="text" id="" placeholder="User Name" class="w-full p-3 form control border-round">



      </div>


      <div class="col-6">

        <label for="" class="block text-900 font-medium p-2 text-white">Password</label>
        <input type="password" id="" name="password" placeholder="Password" class=" w-full p-3 border-round ">

        <label for="" class="block text-900 font-medium p-2 text-white">Confirm Password</label>
        <input type="password" id="" name="password" placeholder="Password" class="w-full p-3 border-round ">

        <label for="gender" class="block text-900 font-medium p-2 text-white">Gender</label>
        <select class="form-select w-full p-3 bg-transparent " style="color: white;" id="gender" name="gender">
          <option class="text-white" value="" disabled selected>Select Gender</option>

          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

<div class="row">

      <label for="text" class="block text-900 font-medium p-2 text-white">Adress</label>
      <input type="text" id="password" name="password" placeholder="Adress" class="w-full py-3 mb-4 ms-3 border-round">

      <button label="Sign In" type="submit" class="w-full  mb-3 border-round border py-3 ms-3"><i
          class="fa fa-user me-3"></i>Register</button>

</div>

    </div>
  </form>

</div>
