  <div class="mt-5 p-0 border-0 ">

      <div class="sidebar">
          <div class="sidebar-item">
            <ul class="list-group">
              <li class="list-group-item text-center bg-dark text-white border-0 img-thumbnail"><h3>Categories</h3></li>

              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">smartphones</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">laptops</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">fragrances</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">skincare</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">groceries</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">home-decoration</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">furniture</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">tops</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">womens-dresses</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">womens-shoes</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">mens-shirts</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">mens-shoes</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">mens-watches</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">womens-watches</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">womens-bags</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">womens-jewellery</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">sunglasses</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">automotive</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">motorcycle</a></li>
              <li class="list-group-item text-white bg-black text-center img-thumbnail"><a class="nav-link" href="#">lighting</a></li>
              </ul>
          </div>


      </div>

<div class="col-lg-10 col-md-8 text-center">
</div>
</div>
