<div style=" height :50px"></div>
<div class=" p-4 shadow-2 border-round w-full lg:w-6 mx-auto  " id="box">
  <div class="text-center ">
    <img src="../../../favicon.ico" alt="Image" height="50" class="p-3">
    <div class="text-900 text-3xl font-medium p-3 text-white">Add Product</div>
  </div>
  <form >
    <div class="row">
      <div class="col-6">
        <label for="pro1" class="block text-900 font-medium p-2 text-white">Product name</label>
        <input type="text" id="pro1" placeholder="product name" type="text"  name="email"
          required
          class="w-full p-3 form control border-round">




        <label for="quant" class="block text-900 font-medium p-2 text-white">Quantity</label>
        <input type="text" id="quant" name="name"  required placeholder="Enter Quantity"  class="w-full p-3 form control border-round">

        <label for="phone" class="block text-900 font-medium p-2 text-white">Phone Number</label>
        <input type="text" id="phone" name="phone_number"  required placeholder="Enter phone"  class="w-full p-3 form control border-round">

      </div>





      <div class="col-6">

        <label for="" class="block text-900 font-medium p-2 text-white">Price</label>
        <input id="password" type="number"    name="Price"
          placeholder="Enter Price" class=" w-full p-3 border-round ">


        <label for="" class="block text-900 font-medium p-2 text-white">Confirm Password</label>
        <input id="password" type="password"  required  minlength="8"
          name="password_confirmation" placeholder="Enter Password" class=" w-full p-3 border-round ">


        <label for="role" class="block text-900 font-medium p-2 text-white">Status</label>
        <select class="form-select w-full p-3 bg-transparent " style="color: white;" id="role" name="role"
          required >
          <option class="text-white" value="" disabled selected>Select Status</option>

          <option value="seller">Saller</option>
          <option value="buyer">User</option>
        </select>




      </div>
<div class="">
      <label for="address" class="block text-900 font-medium p-2 text-white">Description</label>
        <input type="text" id="address" name="address" type="text"  required
          placeholder="Description" class="w-full py-3 mb-4 mx-1 border-round"></div>
<div class="">
        <button label="Sign In" type="submit" class="w-full  mb-3 border-round border py-3  mx-2"><i
            class="fa fa-user me-3"></i>Add product</button></div>
    </div>
  </form>

</div>
