<section class="h-100 gradient-custom-2">
  <div class="container py-4 h-100">
    <div class="row h-100">
      <!-- Left Column for Profile -->
      <div class="col-lg-4 bg-black border-white border-1 border-round ml-4 bck">
        <div class="card border-0 bg-transparent">
          <div class="rounded-top text-white d-flex flex-row old bg-transparent" >
            <div class="ms-4 mt-5 d-flex flex-column bg-transparent" style="width: 150px;">
              <img src="../../../assets/Mohamed-img.jpg" alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
              <button type="button" class="btn bck border-white border-1 border-round text-white mb-2"
                data-mdb-ripple-color="white" style="z-index: 1;">
                Edit profile
              </button>
            </div>
            <div class="ms-3 bg-transparent" style="margin-top: 130px;">
              <h5 class="bg-transparent">{{ userData.name }} </h5>
              <p class="bg-transparent">{{ userData.address }}</p>
            </div>
          </div>
          <div class="p-4 text-black bck border-round" style=" border: white 1px solid; ">
            <div class="d-flex justify-content-end text-center py-1 bg-transparent">
              <div class="bg-transparent">

                <p class="mb-1 h5 bg-transparent  ">253</p>
                <p class="small bg-transparent  mb-0">Products</p>
              </div>
              <div class="px-3 bg-transparent">
                <p class="mb-1 h5 bg-transparent">1026</p>
                <p class="small  mb-0 bg-transparent">Followers</p>
              </div>
              <div class="bg-transparent">
                <p class="mb-1 h5 bg-transparent">478</p>
                <p class="small bg-transparent mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black bg-transparent">
            <div class="mb-5 bg-transparent">
              <p class="lead fw-normal mb-1 bg-transparent">About User</p>
              <div class="p-4 bg-transparent" >
                <p class="font-italic bg-transparent mb-1 ">Web Developer</p>
                <p class="font-italic bg-transparent mb-1 ">Lives in New York</p>
                <p class="font-italic bg-transparent mb-0">Seller</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right Column for Recent Products -->





      <div class="col-7 border-1 border-round border-white ms-5 bck ">
        <div style=" height :50px" class="bg-transparent"></div>
        <div class=" p-4 shadow-2 border-round w-full  mx-auto bg-transparent" id="box">
          <div class="text-center bg-transparent">
            <div class="text-900 text-3xl font-medium p-3 text-white bg-transparent"> your information !</div>
          </div>
          <form class="bg-transparent">
            <div class="row bg-transparent ">
              <div class="col-6 bg-transparent">
                <label for="email1" class="block bg-transparent text-900 font-medium p-2 text-white">Email</label>
                <input type="text" id="email1" placeholder="{{userData.email}}" class="w-full p-3 form control border-round">

                <label for="" class="bg-transparent block text-900 font-medium p-2 text-white">User Name</label>
                <input type="text" id="" placeholder="{{ userData.name }}" class="w-full p-3 form control border-round">

                <label for="" class="bg-transparent block text-900 font-medium p-2 text-white">phone number</label>
                <input type="number" id="" placeholder="{{userData.phone_number }}" class="w-full p-3 form control border-round">



              </div>


              <div class="col-6 bg-transparent">

                <label for="" class="bg-transparent block text-900 font-medium p-2 text-white">old password</label>
                <input type="password" id="" name="password" placeholder="old password" class=" w-full p-3 border-round ">

                <label for="" class="bg-transparent block text-900 font-medium p-2 text-white">new Password</label>
                <input type="password" id="" name="password" placeholder="new Password" class="w-full p-3 border-round ">

                <label for="gender" class="bg-transparent block text-900 font-medium p-2 text-white">Status</label>
                <select class="form-select w-full p-3 bg-black " style="color: white;" id="gender" name="gender">
                  <option class="text-white" value="" disabled selected>{{userData.role}}</option>

                  <option value="male">seller</option>
                  <option value="female">buyer</option>
                </select>
              </div>

              <div class="row bg-transparent">

                <label for="text" class="bg-transparent block text-900 font-medium p-2 text-white ms-3">Address</label>
                <input type="text" id="password" name="Address" placeholder="{{userData.address}}"
                  class="w-full py-3 mb-4 ms-3 border-round">

                <button label="Sign In" type="submit" class="bck w-full  mb-3 border-round border py-3 ms-3"><i
                    class="fa fa-edit me-3"></i>Update</button>

              </div>

            </div>
          </form>

        </div>

      </div>


    </div>
  </div>
</section>
