

<section class="border-bottom-1 mt-5 d-flex align-items-center justify-content-center" style="height: 15vh;   background: linear-gradient(to bottom, #9905ddb6, rgb(0, 0, 0));
;">
<h1 class="text-center bg-transparent align-items-center">Shop</h1>


</section>




<div class="row border-bottom-1 z-1">
  <div class="col-3 d-none d-lg-block  mt-2 z-0" >
    <app-sidebar class="position-fixed"></app-sidebar>
  </div>
  <div class="  col-lg-9 " style="min-height:100vh ;">
    <section class="mt-2">
      <div class="container mt-3">
        <div class="row">
          <div class="col-md-6">
            <!-- Search Form -->
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="searchInput" class="sr-only">Search</label>
                <input type="text" class="form-control bg-transparent  " id="searchInput" placeholder="Search">
              </div>
              <button type="submit" class="btn  mb-2 text-white" style="background: linear-gradient(to bottom, #9905ddb6, rgb(0, 0, 0));">Search</button>
            </form>
          </div>
          <div class="col-md-6">
            <!-- Sort Form -->
            <form class="form-inline">
              <label class="my-1 mr-2 text-white" for="sortSelect">Sort by:</label>
              <select class="custom-select bg-transparent my-1 mr-sm-2" id="sortSelect">
                <option selected>Choose category</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </section>
<div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let product of products; trackBy: trackById; let i = index">
        <app-card [productItem]="product"></app-card>
      </div></div>
  </div>
</div>
