
	<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
			<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img src="../../../../assets/E-Commerce-Logo-Design-scaled.jpg" alt="Random slide" />
				</div>
				<div class="carousel-caption">
					<h3>best ecommerce ever</h3>
				</div>
			</ng-template>
      <ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img src="../../../../assets/E-Commerce-Logo-Design-scaled.jpg" alt="Random slide" />
				</div>
				<div class="carousel-caption">
					<h3>buy what ever u want</h3>
				</div>
			</ng-template>
      <ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img src="../../../../assets/E-Commerce-Logo-Design-scaled.jpg" alt="Random slide" />
				</div>
				<div class="carousel-caption">
					<h3>puy at any time</h3>
				</div>
			</ng-template>

	</ngb-carousel>


<hr />

