<div class="row">
  <div class="col-lg-2 col-md-4">
      <div class="sidebar">
          <div class="sidebar-item">
              <h4>Categories</h4>
              <ul class="list-group">
              <li class="list-group-item"><a class="nav-link" href="#">smartphones</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">laptops</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">fragrances</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">skincare</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">groceries</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">home-decoration</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">furniture</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">tops</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">womens-dresses</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">womens-shoes</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">mens-shirts</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">mens-shoes</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">mens-watches</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">womens-watches</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">womens-bags</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">womens-jewellery</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">sunglasses</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">automotive</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">motorcycle</a></li>
              <li class="list-group-item"><a class="nav-link" href="#">lighting</a></li>
              </ul>
          </div>


      </div>
  </div>

<div class="col-lg-10 col-md-8 text-center">
  <app-side-bar-sliders></app-side-bar-sliders>
</div>
</div>
