

<div class="d-block h-25">
<app-slider></app-slider>

</div>
<div class=" " *ngFor="let category of categories" >

<!--
<h2 class="text-body-bg-tertiary" >{{category.name}}</h2>
<div class="row gx-0 p-3  gap-2 bg-dark rounded-5  flex-nowrap">

<div class="col-2 " *ngFor="let product of products; let i=index" >
  <div class="card rounded-5">
    <img class=" rounded-top-5 " style="height: 190.92px" [src]="product.image" alt="product">
    <div class="card-body bg-dark text-white rounded-bottom-5">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <a href="#" class="btn btn-outline-light">Go somewhere</a>
    </div>
  </div>
</div>
</div> -->


</div>


