<div class="border-bottom-1 " style="min-height: 90vh ;">
  <app-header></app-header>
</div>
<div class="row border-bottom-1">
  <div class="col-3 d-none d-lg-block " style="min-height:100vh ;">
    <app-sidebar></app-sidebar>
  </div>

<div class="  col-9 row" style="min-height:100vh ;">

    <!-- // add for loop for product ] -->
<div class="col-3">
<app-card></app-card>

</div>
<div class="col-3">
  <app-card></app-card>

  </div><div class="col-3">
    <app-card></app-card>

    </div><div class="col-3">
      <app-card></app-card>

      </div>

</div>
</div>
