<div class="border-bottom-1 " style="min-height: 90vh ;">
<app-header ></app-header>
</div>

<div class="row">
<div class="col-3 d-none d-lg-block ">
<app-sidebar class="position-fixed start-0"></app-sidebar>
</div>
<div class="col-9">
<app-cat-show ></app-cat-show>
<app-cat-show></app-cat-show>
<app-cat-show></app-cat-show>
<app-cat-show></app-cat-show>
<app-cat-show></app-cat-show>
<app-cat-show></app-cat-show>
<app-cat-show></app-cat-show>
<app-cat-show></app-cat-show>
<app-cat-show></app-cat-show>
<app-cat-show></app-cat-show>
<app-cat-show></app-cat-show>


</div>
</div>





<div class="row border-bottom-1 " style="min-height:100vh ;">

<div class="col-9 row col-lg-9 col-md-12">
<app-products>
// add for loop for product ]

</app-products>
</div>
</div>
