<!-- <div class="border-bottom-1 " style="min-height: 90vh ;">
  <app-header></app-header>
</div>
<div class="row border-bottom-1">
  <div class="col-3 d-none d-lg-block " style="min-height:100vh ;">
    <app-sidebar class="position-fixed w-28rem"></app-sidebar>
  </div>
  <div class="  col-lg-9 row" style="min-height:100vh ;">
      <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let product of products; trackBy: trackById; let i = index">
        <app-card [productItem]="product"></app-card>
      </div>
  </div>

</div> -->


<div class="border-bottom-1 " style="min-height: 90vh ;">
  <app-header></app-header>
</div>
<div class="row border-bottom-1">
  <div class="col-3 d-none d-lg-block " style="min-height:100vh ;">
    <app-sidebar></app-sidebar>
  </div>
  <div class="  col-lg-9 row" style="min-height:100vh ;">
      <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let product of products; trackBy: trackById; let i = index">
        <app-card [productItem]="product"></app-card>
      </div>
  </div>
</div>







