
<div class="bg-transparent container " style="min-height: 90vh;">




<h1 class="text-center p-5" >PRINDER ECOMMERCE</h1>
<article class="postcard dark red border-bottom-1 ">
  <a class="postcard__img_link" href="#">
    <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />
  </a>
  <div class="postcard__text ">
    <h1 class="postcard__title red"><a href="#">our story</a></h1>
    <div class="postcard__subtitle small">
      <time datetime="2020-05-25 12:00:00">

      </time>
    </div>
    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>

  </div>
</article>
<article class="postcard dark red border-bottom-1">
  <a class="postcard__img_link" href="#">
    <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />
  </a>
  <div class="postcard__text ">
    <h1 class="postcard__title red"><a href="#">our goal</a></h1>
    <div class="postcard__subtitle small">
      <time datetime="2020-05-25 12:00:00">

      </time>
    </div>
    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>

  </div>
</article>
<article class="postcard dark red border-bottom-1 ">
  <a class="postcard__img_link" href="#">
    <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />
  </a>
  <div class="postcard__text ">
    <h1 class="postcard__title red"><a href="#">our offers</a></h1>
    <div class="postcard__subtitle small">
      <time datetime="2020-05-25 12:00:00">

      </time>
    </div>
    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>

  </div>
</article>
<article class="postcard dark red border-bottom-1">
  <a class="postcard__img_link" href="#">
    <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />
  </a>
  <div class="postcard__text ">
    <h1 class="postcard__title red"><a href="#">Podcast Title</a></h1>
    <div class="postcard__subtitle small">
      <time datetime="2020-05-25 12:00:00">

      </time>
    </div>
    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>

  </div>
</article>
</div>


