
.date {
  margin-top: -5px;
  font-weight: 300;
  margin-right: 5px;
  margin-left: -8px;
  font-size: 13px;
}
.fa-regular.filled {
  color: #f5d636;
    font-weight: 900;
    color: #f5d636;
}
.my-div{
  position: relative;
}

img {
  border-radius: 10px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  height: 250px; cursor: pointer;
}
.card-title {
  cursor: pointer;font-weight: 600;
}
/* Add a media query for small screens */
@media screen and (max-width: 600px) {
  img {
    height: 15rem;

    box-shadow: none; /* Remove box-shadow for small screens */
  }
}

/* Add hover effect for scaling */
img:hover {
  transform: scale(1.1);
}

/* Add animation for a subtle pulse effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.fa-regular{
  margin-top: -20px;
  margin-right: 20px;
  font-size: 24px;
  color:#a90cb8
}


@media screen and (min-width: 1401px) {
  .row-cols-xlg-5 {
    width: 100%;
  }
  img {
    width: 100%;
    height: 15rem;
    border-radius: 20px;
  }
  h5 {
    font-size: 28px;
  }
  .date {
    font-size: 14px;
    margin-top: -15px;
margin-left: 3px;
  }
}
#cardsh{
border-radius: 10px;
box-shadow: 0 0 10px rgb(161, 5, 175) ;
}
.burble{
color: rgb(161, 5, 175);
}
.custom-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  outline: none; /* Remove outline on focus */
}

.custom-button:active {
  transform: scale(0.95); /* Scale down the button on press */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;/* Add a subtle box-shadow on press */
}
