<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="../../assets/E-Commerce-Logo-Design-scaled.jpg" alt="Your Logo" height="30">
      </a>

           <!-- Search Bar -->
         <!-- Search Bar -->
<!-- Search Bar -->
<form class="form-inline my-2 my-lg-0">
  <div class="row no-gutters">
    <div class="col-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-dark" type="submit">Search</button>
    </div>
  </div>
</form>


      <!-- Toggler/collapsible Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="profile">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user/signup">SignUp</a>
          </li>
       
        </ul>
      </div>

 
    </div>
  </nav>
</header>